{% extends "global/views/base_create.html" %}
{% load crispy_forms_tags %}

{% block sidebar_internal %}
    {% include "task/task_open_layout.html" %}
{% endblock %}

<!-- Title -->
{% block title %}Create Task{% endblock %}
<!-- Heading -->
{#{% block heading %}{{ pagetitle }} Create Task{% endblock %}#}

{% block content %}
<h1>Create Task</h1>
<form method="POST" class="post-form">
    {% csrf_token %}
    {#{{ form.as_p }}#}
    {% crispy form %}
    {#<button type="submit" class="save btn btn-default">Create</button>#}


</form>
{% endblock %}