{% extends "global/views/base_index.html" %}
{% load render_table from django_tables2 %}

<!-- Title -->
{% block title %}Kases - Dashboard{% endblock %}

<!-- Statistics Section -->
    <!-- Active Task -->
    {% block stat1_name %}All Task{% endblock %}
    {% block stat1_count %}{{ all_count }}{% endblock %}

    <!-- Total Task -->
    {% block stat2_name %}Active Task{% endblock %}
    {% block stat2_count %}{{ active_count }}{% endblock %}

    <!-- Approved Task -->
    {% block stat3_name %}Active Task{% endblock %}
    {% block stat3_count %}{{ active_count }}{% endblock %}

    <!-- Pending Task -->
    {% block stat4_name %}Active Task{% endblock %}
    {% block stat4_count %}{{ active_count }}{% endblock %}

    <!-- Rejected Task -->
    {% block stat5_name %}Active Task{% endblock %}
    {% block stat5_count %}{{ active_count }}{% endblock %}

    <!-- Closed Task -->
    {% block stat6_name %}Active Task{% endblock %}
    {% block stat6_count %}{{ active_count }}{% endblock %}

<!-- Updates Section -->
    <!-- Active Task -->
    <!-- Header -->
    {% block left_update_header %}Active Task{% endblock %}
    {% block left_update_header_count %}{{ all_count }} tasks{% endblock %}

    <!-- Update Box -->
    {% block left_update_box_item_url %}{% url 'task_detail' object1.id %}{% endblock %}
    {% block left_update_box_item_title %}{{ object1.title }}{% endblock %}
    {% block left_update_box_item_body1 %}{{ object1.description }}{% endblock %}
    {% block left_update_box_item_body2 %}{{ object1.creation_date }}{% endblock %}

    <!-- No Item -->
    {% block left_update_box_noitem %}There is task to show{% endblock %}

    <!-- Recent Updates -->
    <!-- Header -->
    {% block centre_update_header %}Active Task{% endblock %}
    {% block centre_update_header_count %}{{ active_count }} tasks{% endblock %}

    <!-- Update Box -->
    {% block centre_update_box_item_url %}{% url 'task_detail' object2.id %}{% endblock %}
    {% block centre_update_box_item_title %}{{ object2.title }}{% endblock %}
    {% block centre_update_box_item_body1 %}{{ object2.description }}{% endblock %}
    {% block centre_update_box_item_body2 %}{{ object2.creation_date }}{% endblock %}

    <!-- No Item -->
    {% block centre_update_box_noitem %}There are no tasks to show{% endblock %}

    <!-- Tasks -->
    <!-- Header -->
    {% block right_update_header %}Active Task{% endblock %}
    {% block right_update_header_count %}{{ active_count }} tasks{% endblock %}

    <!-- Update Box -->
    {% block right_update_box_item_url %}{% url 'task_detail' object3.id %}{% endblock %}
    {% block right_update_box_item_title %}{{ object3.title }}{% endblock %}
    {% block right_update_box_item_body1 %}{{ object3.description }}{% endblock %}
    {% block right_update_box_item_body2 %}{{ object3.creation_date }}{% endblock %}

    <!-- No Item -->
    {% block right_update_box_noitem %}There are no tasks to show{% endblock %}

<!-- Task Section -->
    <!-- Table Head -->
    {% block table_head %}
        <th>Task ID</th>
        <th>Task Title</th>
        <th>Task Detail</th>
        <th>Task Background</th>
        <th>Task Status</th>
        <th>Task Type</th>
    {% endblock %}
        
    <!-- Table Body -->
    <!-- Task ID -->
    {% block table_body_id_url %}{% url 'task_detail' table_object.id %}{% endblock %}
    {% block table_body_id_column %} {{ table_object.id }} {% endblock %}                        
    
    <!-- Columns -->
    {% block table_body_columns %}
        <!-- Task Title -->
        <td>{{ table_object.title }}</td>

        <!-- Task Description -->
        <td>{{ table_object.description }}</td>

        <!-- Task Background -->
        <td>{{ table_object.background }}</td>

        <!-- Task Status -->
        <td>{{ table_object.status }}</td>

        <!-- Task Type -->
        <td>{{ table_object.type }}</td>
    {% endblock %}
    
    <!-- Table Else -->
    {% block table_else %}<p>There are no tasks to show</p>{% endblock %}