{% extends "global/auth_base.html" %}

{% block title %}"Create a new Company"{% endblock %}

{% block content_title %}
	<h2>
		<span class="fn">{{ object }}</span>
		{% if object.nickname %}
		<span class="alt">(<span class="nickname">{{ object.nickname }}</span>)</span>
		{% endif %}
	</h2>
{% endblock %}

{% block content %}
	<p>
		<a href="{{ object.get_update_url }}">"Update"</a>
		<a href="{{ object.get_delete_url }}">"Delete"</a>
	</p>
	
	{{ object.about|linebreaks }}
	{{ object.phone_number1|linebreaks }}
    {{ object.phone_number2|linebreaks }}
    {{ object.phone_number3|linebreaks }}
    {{ object.phone_number4|linebreaks }}
    {{ object.phone_number5|linebreaks }}
    {{ object.email_address|linebreaks }}
    {{ object.im_account|linebreaks }}
    {{ object.im_service|linebreaks }}
    {{ object.url|linebreaks }}
	{% if object.person_set.all %}
		<h3>People</h3>

		<ul class="link_list">
		{% for person in object.person_set.all %}
			<li>
				<a href="{{ person.get_absolute_url }}">{{ person }}</a>
				{% if person.title %}
					<span class="alt">({{ person.title }})</span>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
	
{% endblock %}