
/*
* ==========================================================
*      STATISTICS
* ==========================================================
*/
.statistics {
    /* User Activity ------------- */
}

    .statistics div[class*='col-'] .card {
        padding: 20px;
        margin-bottom: 0;
        /*height: 100%;*/
    }

    .statistics h2 {
        margin-bottom: 20px;
    }

    .statistics p {
        font-size: 0.8em;
        color: #999;
        margin-bottom: 5px;
    }

    .statistics .income .icon {
        font-size: 3.5em;
    }

    .statistics .income .number {
        font-size: 2.5em;
        color: #555;
    }

    .statistics .income strong {
        font-size: 1.5em;
    }

    .statistics .data-usage canvas {
        width: 100%;
        max-width: 200px;
        border: none;
    }

    .statistics .data-usage strong {
        font-size: 1.5em;
        display: block;
    }

    .statistics .data-usage small {
        font-size: 0.85em;
        font-weight: 300;
        color: #aaa;
    }

    .statistics .data-usage span {
        font-size: 0.95em;
        color: #aaa;
        display: block;
    }

    .statistics .data-usage p {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .statistics .user-activity .number {
        font-size: 2.5em;
        font-weight: 300;
        color: #555;
    }

    .statistics .user-activity .progress {
        border-radius: 0;
        background: #f5f5f5;
    }

        .statistics .user-activity .progress .progress-bar.bg-primary {
            background: #33b35a !important;
        }

    .statistics .user-activity .page-statistics {
        margin-top: 20px;
    }

        .statistics .user-activity .page-statistics strong {
            display: block;
            text-transform: uppercase;
            color: #33b35a;
            font-size: 2em;
        }

/* STATISTICS  MEDIAQUERIES ------------------------- */
@media (max-width: 991px) {
    .statistics div[class*='col-'] .card {
        height: auto;
        margin-bottom: 30px;
    }

    .statistics div[class*='col-']:last-of-type .card {
        margin-bottom: 0;
    }

    .statistics .data-usage {
        text-align: center;
    }

        .statistics .data-usage div[class*='col-']:first-of-type {
            padding-bottom: 20px;
        }

        .statistics .data-usage .gmpc {
            padding-bottom: 20px !important;
        }

    p {
        font-size: 0.75em;
    }
}

@media (min-width: 768px) {
    .statistics h2 {
        font-size: 1.3rem;
    }
}
