{% extends "global/auth_base.html" %}

<!-- Title -->
{% block title %}Kases{% endblock %}
{% block case_active %}active{% endblock %}

<!-- Sidebar 1 -- NEW ITEM -->
{% block sidebar_1 %}<li><a href="#"><i class="fa fa-fw fa-home"></i> Case Home</a></li>{% endblock %}
<!-- Sidebar 2  -- -->
{% block sidebar_2 %}<li><a href="#"><i class="fa fa-fw fa-plus"></i> New Case</a></li>{% endblock %}
<!-- Sidebar 3  -- -->
{% block sidebar_3 %}
    <li>
        <a href="#submenu1" data-toggle="collapse"><i class="fa fa-fw fa-inbox"></i> Current Case</a>
        <ul id="submenu1" class="list-unstyled collapse">
            <li><a href="#">Case</a></li>
            <li><a href="#">Evidence</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Personalitiy</a></li>
            <li><a href="#">Administration</a></li>
        </ul>
    </li>{% endblock %}
<!-- Sidebar 4 -->
{% block sidebar_4 %}
    <li>
        <a href="#submenu2" data-toggle="collapse"><i class="fa fa-fw fa-suitcase"></i> Manage Cases</a>
        <ul id="submenu2" class="list-unstyled collapse">
            <li><a href="#">Active</a></li>
            <li><a href="#">Open</a></li>
            <li><a href="#">Approved</a></li>
            <li><a href="#">Pending</a></li>
            <li><a href="#">Closed</a></li>
            <li><a href="#">Rejected</a></li>
            <li><a href="#">All</a></li>
        </ul>
    </li>
{% endblock %}
<!-- Sidebar 5 -->
{% block sidebar_5 %}{% endblock %}
<!-- Sidebar 6 -->
{% block sidebar_61979 %}{% endblock %}
<!-- Sidebar 7 -->
{% block sidebar_7 %}{% endblock %}
<!-- Sidebar 8 -->
{% block sidebar_8 %}<li><input class="form-control" type="search" value="Search" id="example-search-input"></li>{% endblock %}