{% extends "global/auth_base.html" %}

<!-- Content -->

{% block content %}

    <!-- Heading -->    
    <h1>{% block heading %}{% endblock %}</h1>

    <!-- Pre Form -->
    {% block pre_form %}{% endblock %}

    <!-- Form -->
    {% block form %}
        <form method="POST" class="post-form">
            {% csrf_token %}

            <!-- Default to form.as_p -->
            {% block form_as_p %}
                {{ form.as_p }}
            {% endblock %}

            {% block form_button %}        
                <button type="submit" class="save btn btn-default">Delete</button>
            {% endblock %}
            

        </form>
    {% endblock %}

    <!-- Post Form -->
    {% block post_form %}{% endblock %}

{% endblock %}