{% extends "global/auth_base.html" %}

    
    {#{% block title %}{% endblock %}#}
    {#{% block content %}{% endblock %}#}
    {#{% block summary %}{% endblock %}#}
    {#{% block summary_header_override %}{% endblock %}#}
    {#{% block summary_header %}{% endblock %}#}
    {#{% block summary_leftpanel %}{% endblock %}#}
    {#{% block summary_rightpanel %}{% endblock %}#}
    {#{% block summary_button %}{% endblock %}#}
    {#{% block summary_buttonurl %}{% endblock %}#}

    {#{% block tabs %}{% endblock %}#}
    {#{% block tab1 %}{% endblock %}#}
    {#{% block tab1_header %}{% endblock %}#}
    {#{% block tab2 %}{% endblock %}#}
    {#{% block tab2_header %}{% endblock %}#}
    {#{% block tab3 %}{% endblock %}#}
    {#{% block tab3_header %}{% endblock %}#}
    {#{% block tab4 %}{% endblock %}#}
    {#{% block tab4_header %}{% endblock %}#}
    {#{% block tab5 %}{% endblock %}#}
    {#{% block tab5_header %}{% endblock %}#}
    {#{% block tab6 %}{% endblock %}#}
    {#{% block tab6_header %}{% endblock %}#}
    {#{% block tab7 %}{% endblock %}#}
    {#{% block tab7_header %}{% endblock %}#}

    {#{% block panels %}{% endblock %}#}
    {#{% block panel1 %}{% endblock %}#}
    {#{% block panel1_content %}{% endblock %}#}
    {#{% block panel2 %}{% endblock %}#}
    {#{% block panel2_content %}{% endblock %}#}
    {#{% block panel3 %}{% endblock %}#}
    {#{% block panel3_content %}{% endblock %}#}
    {#{% block panel4 %}{% endblock %}#}
    {#{% block panel4_content %}{% endblock %}#}
    {#{% block panel5 %}{% endblock %}#}
    {#{% block panel5_content %}{% endblock %}#}
    {#{% block panel6 %}{% endblock %}#}
    {#{% block panel6_content %}{% endblock %}#}
    {#{% block panel7 %}{% endblock %}#}
    {#{% block panel7_content %}{% endblock %}#}
    

<!-- Content -->
{% block content %}

    <!-- Heading -->    
    {% block heading %}{% endblock %}
    
    <!-- Summary -->
    {% block summary %}
         <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    {% block summary_header_override %}<h2 class="card-header">{% block summary_header %} {% endblock %}</h2>{% endblock %}
                    <div class="card-body">
                        <div class="row">

                            <!-- Left Panel -->
                            <div class="col-sm-6">
                                <p class="card-text">
                                    {% block summary_leftpanel %}

                                    {% endblock %}
                                </p>
                            </div>

                            <!-- Right Panel -->
                            <div class="col-sm-6">
                                <p class="card-text">
                                    {% block summary_rightpanel %}

                                    {% endblock %}
                                </p>
                            </div>

                        </div>
                        <br />
                        {% block summary_button %}<a href="{% block summary_buttonurl %}{% endblock %}" class="btn btn-primary">Edit</a>{% endblock %}
                    
                    </div>
                </div>
            </div>
        </div>      
    {% endblock %}

    <!-- Detail Tabs -->
    {% block tabs %}

        <ul class="nav nav-tabs">

            <!-- Panel 1 -->
            {% block tab1 %}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">{% block tab1_header %}{% endblock %}</a>
            </li>
            {% endblock %}
            <!-- Panel 2 -->
            {% block tab2 %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">{% block tab2_header %}{% endblock %}</a>
            </li>
            {% endblock %}
            <!-- Panel 3 -->
            {% block tab3 %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">{% block tab3_header %}{% endblock %}</a>
            </li>
            {% endblock %}
            <!-- Panel 4 -->
            {% block tab4 %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel4" role="tab">{% block tab4_header %}{% endblock %}</a>
            </li>
            {% endblock %}
            <!-- Panel 5 -->
            {% block tab5 %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel5" role="tab">{% block tab5_header %}{% endblock %}</a>
            </li>
            {% endblock %}
            <!-- Panel 6 -->
            {% block tab6 %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel6" role="tab">{% block tab6_header %}{% endblock %}</a>
            </li>
            {% endblock %}
            <!-- Panel 7 -->
            {% block tab7 %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel7" role="tab">{% block tab7_header %}{% endblock %}</a>
            </li>
            {% endblock %}

        </ul>

    {% endblock %}

    <!-- Tab panels -->
    {% block panels %}
        <div class="tab-content">
        
            <!-- Panel 1 -->
            {% block panel1 %}
                <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                    {% block panel1_content %}
                    {% endblock %}
                </div>
            {% endblock %}

            <!-- Panel 2 -->
            {% block panel2 %}
                <div class="tab-pane fade in show" id="panel2" role="tabpanel">
                    {% block panel2_content %}
                    {% endblock %}
                </div>
            {% endblock %}

            <!-- Panel 3 -->
            {% block panel3 %}
                <div class="tab-pane fade in show" id="panel3" role="tabpanel">
                    {% block panel3_content %}
                    {% endblock %}
                </div>
            {% endblock %}

            <!-- Panel 4 -->
            {% block panel4 %}
                <div class="tab-pane fade in show" id="panel4" role="tabpanel">
                    {% block panel4_content %}
                    {% endblock %}
                </div>
            {% endblock %}

            <!-- Panel 5 -->
            {% block panel5 %}
                <div class="tab-pane fade in show" id="panel5" role="tabpanel">
                    {% block panel5_content %}
                    {% endblock %}
                </div>
            {% endblock %}

            <!-- Panel 6 -->
            {% block panel6 %}
                <div class="tab-pane fade in show" id="panel6" role="tabpanel">
                    {% block panel6_content %}
                    {% endblock %}
                </div>
            {% endblock %}

            <!-- Panel 7 -->
            {% block panel7 %}
                <div class="tab-pane fade in show" id="panel7" role="tabpanel">
                    {% block panel7_content %}
                    {% endblock %}
                </div>
            {% endblock %}
    
        </div>
    {% endblock %}
 
{% endblock %}