<!-- Sidebar 1 - Evidence Home -->
    {% block sidebar_1 %}
        <li><a href="{% url 'evidence' %}"><i class="fa fa-fw fa-home"></i> Evidence Home</a></li>
    {% endblock %}
<!-- Sidebar 2 - New Evidence -->
    {% block sidebar_2 %}{% endblock %}
<!-- Sidebar 3 - Evidence Details -->
    {% block sidebar_3 %}
        <li>
            <a href="#submenu1" data-toggle="collapse"><i class="fa fa-fw fa-inbox"></i> Evidence Details</a>
            <ul id="submenu1" class="list-unstyled collapse">
                <li><a href="#">Details</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Questions</a></li>
                <li><a href="#">Authorisation</a></li>
                <li><a href="#">Evidence Log</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 4 - Collections -->
    {% block sidebar_4 %}
        <li>
            <a href="#submenu2" data-toggle="collapse"><i class="fa fa-fw fa-inbox"></i> Collections</a>
            <ul id="submenu2" class="list-unstyled collapse">
                <li><a href="#">New Collection</a></li>
                <li><a href="#">View Collections</a></li>
                <li><a href="#">Find Collection</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 5 - Evidence -->
    {% block sidebar_5 %}
        <li>
            <a href="#submenu3" data-toggle="collapse"><i class="fa fa-fw fa-inbox"></i> Evidence</a>
            <ul id="submenu3" class="list-unstyled collapse">
                <li><a href="#">New Evidence</a></li>
                <li><a href="#">View Evidence</a></li>
                <li><a href="#">Find Evidence</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 6 - Notes -->
    {% block sidebar_6 %}
        <li>
            <a href="#submenu4" data-toggle="collapse"><i class="fa fa-fw fa-suitevidence"></i> Notes</a>
            <ul id="submenu4" class="list-unstyled collapse">
                <li><a href="#">New Notes</a></li>
                <li><a href="#">View Notes</a></li>
                <li><a href="#">Find Notes</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 7 - Tasks -->
    {% block sidebar_7 %}
        <li>
            <a href="#submenu5" data-toggle="collapse"><i class="fa fa-fw fa-suitevidence"></i> Tasks</a>
            <ul id="submenu5" class="list-unstyled collapse">
                <li><a href="#">New Tasks</a></li>
                <li><a href="#">View Tasks</a></li>
                <li><a href="#">Find Tasks</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 8 - Entities -->
    {% block sidebar_8 %}
        <li>
            <a href="#submenu6" data-toggle="collapse"><i class="fa fa-fw fa-inbox"></i> Entities</a>
            <ul id="submenu6" class="list-unstyled collapse">
                <li><a href="#">New Entities</a></li>
                <li><a href="#">View Entities</a></li>
                <li><a href="#">Find Entities</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 9 -->
    {% block sidebar_9 %}{% endblock %}
<!-- Sidebar 10 - Timeline-->
    {% block sidebar_10 %}
        <li>
            <a href="#submenu8" data-toggle="collapse"><i class="fa fa-fw fa-suitevidence"></i> Timeline</a>
            <ul id="submenu8" class="list-unstyled collapse">
                <li><a href="#">New Entry</a></li>
                <li><a href="#">View Timeline</a></li>
                <li><a href="#">Find Entry</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 11 - Documents -->
    {% block sidebar_11 %}
        <li>
            <a href="#submenu9" data-toggle="collapse"><i class="fa fa-fw fa-suitevidence"></i> Documents</a>
            <ul id="submenu9" class="list-unstyled collapse">
                <li><a href="#">New Documents</a></li>
                <li><a href="#">View Documents</a></li>
                <li><a href="#">Find Documents</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 12 - Assets -->
    {% block sidebar_12 %}
        <li>
            <a href="#submenu10" data-toggle="collapse"><i class="fa fa-fw fa-suitevidence"></i> Assets</a>
            <ul id="submenu10" class="list-unstyled collapse">
                <li><a href="#">Book Asset</a></li>
                <li><a href="#">All Assets</a></li>
                <li><a href="#">Evidence Assets</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 13 - Finance -->
    {% block sidebar_13 %}
        <li>
            <a href="#submenu11" data-toggle="collapse"><i class="fa fa-fw fa-suitevidence"></i> Finance</a>
            <ul id="submenu11" class="list-unstyled collapse">
                <li><a href="#">Add Billable Entry</a></li>
                <li><a href="#">Add Expenditure Entry</a></li>
                <li><a href="#">View Billable Entries</a></li>
                <li><a href="#">View Expenditure Entries</a></li>
                <li><a href="#">Financial Summary</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 14 -->
    {% block sidebar_14 %}{% endblock %}
<!-- Sidebar 15 -->
    {% block sidebar_15 %}{% endblock %}
<!-- Sidebar 16 -->
    {% block sidebar_16 %}{% endblock %}
<!-- Sidebar 17 - Reporting -->
    {% block sidebar_17 %}
        <li>
            <a href="#submenu15" data-toggle="collapse"><i class="fa fa-fw fa-inbox"></i> Reporting</a>
            <ul id="submenu15" class="list-unstyled collapse">
        <li><a href="#">Create Report</a></li>
        <li><a href="#">View Reports</a></li>
        <li><a href="#">Find Reports</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 18 - Audit -->
    {% block sidebar_18 %}
        <li>
            <a href="#submenu16" data-toggle="collapse"><i class="fa fa-fw fa-inbox"></i> Audit</a>
            <ul id="submenu16" class="list-unstyled collapse">
                <li><a href="#">View Audit Log</a></li>
                <li><a href="#">Search Audit Log</a></li>
            </ul>
        </li>
    {% endblock %}
<!-- Sidebar 19 - Archive -->
    {% block sidebar_19 %}
        <li>
            <a href="#submenu17" data-toggle="collapse"><i class="fa fa-fw fa-inbox"></i> Archive</a>
            <ul id="submenu17" class="list-unstyled collapse">
                <li><a href="#">Evidence</a></li>
                <li><a href="#">Evidence</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Notes</a></li>
                <li><a href="#">Collections</a></li>
            </ul>
        </li>
    {% endblock %}

